{% extends "base.html" %}
{% block title %}Catalog{% endblock %}
{% load staticfiles %}


{% block content %}
<div class="container">
<!--FILTER CATEGORIES-->

		<div class="row" style="margin: 20px">
			{% for category in categories %}
				<div class="col-md-2" style="font-size: 20px; margin-bottom: 20px">
					<a href="{{ category.get_absolute_url }}"><span style="font-family: 'Quattrocento Sans'">{{ category.name }}</span></a>
				</div>
			{% endfor %}
		</div>
<!--PRODUCTS-->
		<div class="row">
			{% for product in products %}
				<div class = 'col-md-6 text-center' style="margin-bottom: 20px">
					<img class="img-catalog" src="{{product.image.url}}"  height="500">
					<div class="row">
						<div class = 'col-md-7'>
							<h4 style="display: inline-block"><a href="{{ product.get_absolute_url }}" >{{product.name}}</a></h4>
						</div>
						<div class = 'col-md-2'>
							<button type="button" class="btn btn-success" id = '{{ product.id }}' onclick="addCart({{ product.id }})" style="margin-left: 30px; margin-top: 4px" >{{product.price}}</button>
						</div>
					</div>
				</div> 
			{% empty %}
				<p>There are no products</p>          	
			{% endfor %}
		</div> 	
	
</div>
{% endblock %}