{% extends "base.html" %}
{% block title %}Order{% endblock %}
{% load staticfiles %}
{% block content %}

	{% if total %}

		<h3>{{ total }}</h3>

	{% else %}

		<h1>Error total</h1>

	{% endif %}

	<p>adress</p>
	<input id="adress" type="text" class="quantity-input">
	<p>phone</p>
	<input id="phone" type="text" class="quantity-input">
	<br>
	<br>
	<button onclick="makeDeal()">DEAL WITH IT</button>
	<br>
	<br>
	

{% endblock %}

{% block extra_script %}
{% load staticfiles %}

<script type="text/javascript"src="{% static "js/add-cart.js" %}"></script>
<script type="text/javascript"src="{% static "js/jquery.cookie.js" %}"></script>

{% endblock %}