{% extends "base.html" %}
{% load bootstrap %}
{% block title %}Order{% endblock %}
{% block content %}
<!-- CROSS NAVIGATION -->
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Корзина</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'index'%}">Home</a>
                        </li>
                        <li><a href="{% url 'cart'%}">Корзина</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
<!-- CROSS NAVIGATION -->

	<div class="container" style="margin-bottom: 20px">
		<div class="col-md-4 text-center">
				<h3 class="text-success">Total price: {{ total }}</h3>
				<form action="{% url 'confirm' %}" method="post">{% csrf_token %}
					{{ form|bootstrap }}
					<button type="submit" class="btn btn-success">DEAL</button>
				</form>
				<br/>
				<a href="{% url 'cart' %}" ><button type="button" class="btn btn-warning">Back to cart</button></a>
			</div>
		</div>

{% endblock %}