       <header>

            <!-- *** TOP *** -->
            <div id="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-5 contact">
                            <p class="hidden-sm hidden-xs">Contact us on dronsystem.slack.com</p>
                            <p class="hidden-md hidden-lg"><a href="#" data-animate-hover="pulse"><i class="fa fa-phone"></i></a>  <a href="#" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </p>
                        </div>
                        <div class="col-xs-7">
                            <div class="social">
                                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </div>

                            <div class="login">
                                {% if user.is_authenticated %}
                                <a href="#"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">{{user.username}}</span></a>
                                <a href="{% url 'logout'%}" <i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Выйти</span></a>
                                {% else %}
                                <a href="/account/registration/"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Зарегистрироваться</span></a>
                                <a href="/account/login/" data-toggle="modal" data-target="#login-modal"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Войти</span></a>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- LOAD MENU -->
            {% include 'parts/menu.html' %}
            <!-- LOAD MENU -->
            
       </header>

            <!-- *** TOP END *** -->